<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d26ea6">  <td>19/09/26 12:34:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:testCommon.TestRunner@778d1062]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@825658265</td>   <td></td> </tr>
<tr bgcolor="9e72ba">  <td>19/09/26 12:34:30</td>   <td>4028</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestRunner.setUpClass()[pri:0, instance:testCommon.TestRunner@778d1062]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@825658265</td>   <td></td> </tr>
<tr bgcolor="9e72ba">  <td>19/09/26 12:34:30</td>   <td>4473</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:testCommon.TestRunner@778d1062]">feature</td> 
  <td>main@825658265</td>   <td></td> </tr>
<tr bgcolor="9e72ba">  <td>19/09/26 12:34:30</td>   <td>4477</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:testCommon.TestRunner@778d1062]">feature</td> 
  <td>main@825658265</td>   <td></td> </tr>
<tr bgcolor="9e72ba">  <td>19/09/26 12:34:30</td>   <td>4487</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestRunner.tearDownClass()[pri:0, instance:testCommon.TestRunner@778d1062]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@825658265</td>   <td></td> </tr>
</table>
